:root {
  --gradient-purple-haze: linear-gradient(
    153.58deg,
    #f7bdf8 32.25%,
    #2f3cc0 92.68%
  );
  --gradient-lipstick: linear-gradient(
    165.72deg,
    #f7bdf8 21.15%,
    #cd237f 81.93%
  );
  --color-shockingly-green: #0ae448;
  --color-just-black: #0e100f;
  --color-surface-white: #fffce1;
  --color-pink: #fec5fb;
  --color-shockingly-pink: #f100cb;
  --color-orangey: #ff8709;
  --color-lilac: #9d95ff;
  --color-lt-green: #abff84;
  --color-ui-gradient: radial-gradient(
    78.77% 78.77% at 71.71% 30.77%,
    #f0fcff 0%,
    #9bedff 67.21%,
    #98ecff 76.04%,
    #5be1ff 84.9%,
    #00bae2 94.79%
  );
  --gradient-macha: linear-gradient(
    114.41deg,
    var(--color-shockingly-green) 20.74%,
    var(--color-lt-green) 65.5%
  );
}

.gradient-red {
  background: var(--gradient-lipstick), url(images/noise.png);
  background-blend-mode: color-dodge;
}

.gradient-purple {
  background: var(--gradient-purple-haze), url(images/noise.png);
  background-blend-mode: color-dodge;
}

.gradient-green {
  background: var(--gradient-macha), url(images/noise.png);
  background-blend-mode: color-dodge;
}

.gradient-blue {
  background: var(--color-ui-gradient),
    /* url(https://assets.codepen.io/16327/noise-e82662fe.png); */
      url(images/noise.png);
  background-blend-mode: color-dodge;
}
