/* body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  background: #711324;
  overflow: hidden;
  background-image: linear-gradient(
    45deg,
    rgb(236, 204, 140) 0%,
    rgb(236, 204, 140) 11%,
    rgb(212, 161, 111) 11%,
    rgb(212, 161, 111) 24%,
    rgb(188, 117, 83) 24%,
    rgb(188, 117, 83) 29%,
    rgb(164, 74, 54) 29%,
    rgb(164, 74, 54) 33%,
    rgb(140, 30, 25) 33%,
    rgb(48, 16, 27) 100%
  );
} */

#movie {
  width: 100vmin;
  height: 100vmin;
}
